//BREAKPOINTS
$bp-md: 768px;
$bp-lg: 1200px;


//COLORS
$background-primary: #F5F3EA;
$background-secondary: #252525;;
$text-color-white: #FFF;
$text-color-black: #000;
$text-color-gray: #252525;


@mixin display_flex ($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin content-wrapper ($top: 0, $bottom: 0) {
  padding: $top $bottom
}



