@import "../abstracts/variables";

.header {
  @include display_flex(space-between);
  padding: 20px;
  //max-width: 1920px;

  @media (min-width: $bp-md) {
    padding: 40px 30px;
    margin-bottom: 30px;
  }

  @media (min-width: $bp-lg) {
    padding: 40px 70px 30px;
    margin-bottom: 30px;
  }
}

.header__logo {
  @include display_flex(start, center, row);
  &::after {
    display: none;

    @media (min-width: $bp-md) {
      content: "®";
      color: $text-color-black;
      display: block;
      margin-top: -3%;
      font-size: 25px;
      font-weight: 300;
    }
  }
}

.header__logo-text{
  font-family:'Gilroy-Medium', sans-serif;
  color: $text-color-black;
  display: none;
  padding-left: 10px;

  @media (min-width: $bp-md) {
    display: block;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: -0.7px;
  }
}

.header__logo-Up-text{
  @extend .header__logo-text;
  display: inline-block;
  font-family:'Gilroy-Regular', sans-serif;
  padding: 0;
  font-weight: 400;
  text-transform: uppercase;
}

.header__menu {
  color: $text-color-gray;
  font-family:'Gilroy-SemiBold', sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}